<div class="header">
 Bevétel - Kiadás Kalkulátor
</div>

<div class="menu">

  <p [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="data-input" >Adatbevitel</p>
  <p [routerLink]="['/calculations']" routerLinkActive="active" class="calc">Havi Kimutatások</p>
  <p [routerLink]="['/sum']" routerLinkActive="active" class="sum" >Összegzések</p>
  <p [routerLink]="['/income']" routerLinkActive="active" class="income" >Bevételek</p>
  <p [routerLink]="['/outcome']" routerLinkActive="active" class="outcome" >Kiadások</p>
 


</div>
