.end{
position:absolute;
left: 600px;
width: 100px;
top:30px;
}

.start{
   top:30px;
    width: 50px;
    padding: 20px;

    }

.end-info{
    position:absolute;
    left:630px;
    top:560px;
}


.form{
   position: absolute;
   top: 100px;
}

.graph{
    position: absolute;
    left: 600px;
    top:100px;
}

.checkbox{
    position: absolute;
    top: 200px;
}

.checkbox2{
    position:absolute;
    top:200px;
    left:300px;
}

.labelp{
    position:absolute;
    left:1000px;
    
}

.submit-button{
    position:absolute;
    top:130px;
    left:20px;
    width: 150px;
    height:50px;
}