.end{
position:absolute;
left: 600px;
width: 100px;
top:30px;
}

.start{
   top:30px;
    width: 50px;
    padding: 20px;

    }

.end-info{
    position:absolute;
    left:630px;
    top:560px;
}

.button{
    position:absolute;
    top: 550px;
    left: 500px;
    width: 100px;
    height: 40px;
}

.container{
    display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 20px;
}