  .column1{
    position:absolute;
   
    top:55px;
  }

  .column2{
    position:absolute;
    left:300px;
    top: 55px;
  }

 .submitbutton{
  position:absolute;
  top:350px;
  width: 150px;
  height:50px;

 }

 
 .dateform{
  position: absolute;
  top: 100px;
  left: 500px;
}
  

